body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.break-mobile {
  display: inline;
}

@media (max-width: 480px) {
  .break-mobile {
    display: block; /* forces line break only on mobile */
  }
}